---
layout: default
title: Maximilian Häberle

header-image: assets/img/omega_centauri_center.png
---

<div class="profile">
	<img src="assets/img/profile.jpg" alt="">
</div>

<p>
	I am an astronomy PhD student, working in the
	<a href="https://www.mpia.de/galactic-nuclei" target="_blank">Galactic Nuclei Group (Nadine Neumayer)</a> at the
	<a href="http://www.mpia.de" target="_blank">Max Planck Institute for Astronomy (MPIA)</a> in Heidelberg.
	Previously, I was a fellow of the International Max Planck Research School on Astronomy and Cosmic Physics at the
University of Heidelberg (<a href="http://www.imprs-hd.mpg.de" target="_blank">IMPRS</a>).

            My work focuses on observational studies of globular clusters but also the development of astronomical instrumentation.

</p>
<p>
    My work focuses on <a href="../research/#GC_research"> observational studies of globular clusters</a> but also the development of astronomical instrumentation.
	For details you may take a look at the <a href="../research">RESEARCH</a> section.
</p>



<!--
<h1>News</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
-->

<!-- {% for post in site.posts %}
  <hr>
  {{ post.title }}
{% endfor %} -->
<!--<ul>-->
<!--  {% for post in site.posts %}-->
<!--    <hr>-->
<!--    <li>-->
<!--      <a href="{{ post.url }}">{{ post.title }}</a>-->
<!--      {{ post.content }}-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->
