---
layout: default
title: Max Häberle

header-image: assets/img/lasilla.jpg
---

<div class="profile">
	<img src="assets/img/profile.jpg" alt="">
</div>

<p> Welcome!</p>
	I am a postdoctoral fellow at the <a href="https://www.eso.org/" target="_blank">European Southern Observatory (ESO)</a> headquarters in Garching near Munich.

</p>
	Previously, I obtained my PhD from Heidelberg University, working at the Max-Planck-Institute for Astronomy under the supervision of Nadine Neumayer and Tom Herbst. During my undergraduate studies, I also spent time at the ESO offices in Chile and the Space Telescope Science Institute in Baltimore, USA.
</p>
<p>
  My research  focuses on observational studies of globular clusters and the search for intermediate-mass black holes in their centers. For this, I use various telescopes and instruments to obtain high-precision proper motion measurements of the cluster's individual stars and to understand their dynamics.
</p>
<p>
  Furthermore, I am interested in the development of novel astronomical instrumentation. During my PhD I participated in the developement and construction of the <a href="https://www.sdss.org/dr15/future/lvm/"> SDSS-V Local Volume Mapper (LVM)</a>, a novel wide-field integral field spectroscopy survey instrument, working with <a href="https://www2.mpia-hd.mpg.de/homes/herbst/Home.html">Tom Herbst</a> and the LVM collaboration. This instrument recently celebrated a very succesful first light and <a href="https://www.sdss.org/mapping-everything-everywhere-all-at-once/">survey operations have begun.</a><br>
In October 2023, I joined the <a href="https://metis.strw.leidenuniv.nl/">METIS</a> project, the mid-infrared imager and spectrograph for the future <a href="https://elt.eso.org/">Extremely Large Telescope</a>.
</p>
<p>
	For details, you may take a look at the <a href="../research">RESEARCH</a> section or <a href="../contact">CONTACT</a> me directly.
</p>


<!--
<h1>News</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
-->

<!-- {% for post in site.posts %}
  <hr>
  {{ post.title }}
{% endfor %} -->
<!--<ul>-->
<!--  {% for post in site.posts %}-->
<!--    <hr>-->
<!--    <li>-->
<!--      <a href="{{ post.url }}">{{ post.title }}</a>-->
<!--      {{ post.content }}-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->
