---
layout: default
title: Maximilian Häberle

header-image: assets/img/lasilla.jpg
---

<div class="profile">
	<img src="assets/img/profile.jpg" alt="">
</div>

<p>
	I am an astronomy PhD student and fellow of the International Max Planck Research School on Astronomy and Cosmic Physics at the University of Heidelberg (<a href="http://www.imprs-hd.mpg.de" target="_blank">IMPRS</a>). I work in the
	<a href="https://www.mpia.de/galactic-nuclei" target="_blank">Galactic Nuclei Group (Nadine Neumayer)</a> at the
	<a href="http://www.mpia.de" target="_blank">Max Planck Institute for Astronomy (MPIA)</a> in Heidelberg.
</p>
	Previously, I obtained a Bachelors and Masters degree in physics at the University of Heidelberg. During my undergraduate studies I spent time at the European Southern Observatory in Chile and the Space Telescope Science Institue in Baltimore, USA.
</p>
<p>
    My research  focuses on observational studies of globular clusters but also the development of astronomical instrumentation. I am currently involved in the development of the <a href="https://www.sdss.org/dr15/future/lvm/"> SDSS-V Local Volume Mapper</a>, a novel wide-field integral field spectroscopy survey instrument.
	For details you may take a look at the <a href="../research">RESEARCH</a> section.
</p>
<h4>Contact Information</h4>
<p>Work Address:<br>Maximilian Häberle<br>Max Planck Insitute für Astronomie<br>Königsstuhl 17<br>69117 Heidelberg<br>E-Mail: <a href="mailto:haeberle@mpia.de">haeberle@mpia.de</a><br>Tel.: +49 6221 528 488 </br></p>


<!--
<h1>News</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
-->

<!-- {% for post in site.posts %}
  <hr>
  {{ post.title }}
{% endfor %} -->
<!--<ul>-->
<!--  {% for post in site.posts %}-->
<!--    <hr>-->
<!--    <li>-->
<!--      <a href="{{ post.url }}">{{ post.title }}</a>-->
<!--      {{ post.content }}-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->
