---
title: Telescope Gallery
layout: default
permalink: /telescopes/

header-image: ../assets/img/paranal1.jpg
---

<h1>Telescope Gallery</h1>
<h2>ESO Paranal Observatory</h2>
{% include image-gallery.html folder="/uploads/paranal" %}
<h2>ESO La Silla Observatory</h2>
{% include image-gallery.html folder="/uploads/la_silla" %}
<h2>Las Campanas Observatory</h2>
{% include image-gallery.html folder="/uploads/lco" %}
<h2>Teide Observatory</h2>
Coming soon...
<h2>Roque de los Muchachos Observatory</h2>
Coming soon...
<h2>Landessternwarte Heidelberg</h2>
Coming soon...
