---
title: Telescope Gallery
layout: default
permalink: /telescopes/

header-image: ../assets/img/paranal1.jpg
---

<h1>Telescope Gallery</h1>
As an observational astronomer and instrument builder there are almost no places as fascinating and exciting as the remote observatories that host the large telescopes used to study our universe. In the following gallery you can find photos of some of the telescopes that I could visit during the last years. Please click on the images to obtain the full resolution.
<h2>ESO Paranal Observatory, Chile</h2>
{% include image-gallery.html folder="/uploads/paranal" %}
<h2>ESO La Silla Observatory, Chile</h2>
{% include image-gallery.html folder="/uploads/la_silla" %}
<h2>Las Campanas Observatory, Chile</h2>
{% include image-gallery.html folder="/uploads/lco" %}
<h2>Roque de los Muchachos Observatory, La Palma, Spain</h2>
{% include image-gallery.html folder="/uploads/roque" %}
<h2>Teide Observatory, Tenerife, Spain</h2>
Coming soon...
<h2>Landessternwarte Heidelberg, Germany</h2>
Coming soon...
